bin/unsonic
bin/unsonic-server
venv
venv/.*
.*\.pyc
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
unsonic.egg-info
unsonic.egg-info/.*
external/mishmash
.cfg_.*
dist
dist/.*
.cache
.cache/.*
.eggs
.eggs/.*
tags
.idea/
