language: python
python:
  - "3.6"
#  - "3.7-dev" # 3.7 development branch

# Use containers on travis-ci
services:
  - docker
sudo: required

# Cache installed deps
cache: pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

env:
  - UN_TEST_NO_CLEANUP=1

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libxml2-utils

# command to install dependencies
install:
  - make devel
  - pip install python-coveralls

# command to run tests
script:
  make coverage

after_success:
  coveralls
