include setup.cfg README.md LICENSE CHANGES.md requirements.txt production.ini 
recursive-include unsonic *.ico *.png *.css *.gif *.pt *.mako *.html *.ini
recursive-include unsonic/alembic/ *.py *.ini
global-exclude __pycache__
global-exclude *.py[co]
