pyramid_debugtoolbar==4.4
flake8==3.5.0
WebTest==2.0.30
pytest==3.6.3
pytest-cov==2.5.1
pytest-runner==4.2
# Manually installed to avoid pyscopg2 dep
#pytest-postgres==0.5.0
# pytest-postgres dep
docker==2.5.1
lxml
