pyramid==1.9.2
SQLAlchemy>=1.3.0
alembic==1.0.0
pyramid_mako==1.0.2
zope.sqlalchemy==1.0
waitress==1.1.0
pastedeploy>=2.0
paste>=2.0
psycopg2-binary==2.7.5
xmltodict==0.11.0
mishmash[postgres]==0.3b14
sphinx==1.7.6
recommonmark==0.4.0
pylast==2.3.0
shortuuid==0.5.0
lyricwikia==0.1.9
luqum==0.7.5
