pyramid==1.9.1
SQLAlchemy==1.1.14
alembic==0.9.5
transaction==2.1.2
pyramid_tm==2.2
pyramid_debugtoolbar==4.3
zope.sqlalchemy==0.7.7
waitress==1.0.2
pastedeploy
paste
psycopg2
xmltodict
mishmash[postgres]
