pyramid==1.9.1
SQLAlchemy==1.2.3
alembic==0.9.8
transaction==2.1.2
pyramid_tm==2.2
pyramid_debugtoolbar==4.3
zope.sqlalchemy==1.0
waitress==1.1.0
pastedeploy==1.5.2
paste==2.0.3
psycopg2==2.7.4
psycopg2-binary==2.7.4
xmltodict==0.11.0
mishmash[postgres]==0.3b5
sphinx==1.7.0
recommonmark==0.4.0
